<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="userDao" class="com.belhard.bookstore.dao.impl.UserDaoJdbcImpl"/>
    <bean id="userService" class="com.belhard.bookstore.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="userCommand" class="com.belhard.bookstore.controller.command.impl.UserCommand">
        <constructor-arg ref="userService"/>
    </bean>
    <bean id="usersCommand" class="com.belhard.bookstore.controller.command.impl.UsersCommand">
        <constructor-arg ref="userService"/>
    </bean>

    <bean id="bookDao" class="com.belhard.bookstore.dao.impl.BookDaoJdbcImpl"/>
    <bean id="bookService" class="com.belhard.bookstore.service.impl.BookServiceImpl">
        <constructor-arg ref="bookDao"/>
    </bean>
    <bean id="bookCommand" class="com.belhard.bookstore.controller.command.impl.BookCommand">
        <constructor-arg ref="bookService"/>
    </bean>
    <bean id="booksCommand" class="com.belhard.bookstore.controller.command.impl.BooksCommand">
        <constructor-arg ref="bookService"/>
    </bean>

    <bean id="errorCommand" class="com.belhard.bookstore.controller.command.impl.ErrorCommand">
        <constructor-arg ref="bookService"/>
    </bean>

</beans>